<%
if(locals.page && page.includes("/profile")){
    %> <a href="/back" class="icon ic-caret-left back"></a> <%
}
%>
<div class="title"><%= title %></div>

<div class="item">
    <div class="toggle">
        <input type='checkbox' id="switch" name="theme" class="icon ic-moon">
    </div>
</div>