<a class="icon ic-home <%= (title.toLowerCase()==="home") ? 'active' : '' %>" href="/"></a>
<a class="icon ic-books <%= (title.toLowerCase()==="library") ? 'active' : '' %>" href="/books"></a>
<a class="icon ic-compass <%= (title.toLowerCase()==="retrieval") ? 'active' : '' %>" href="/retrieval"></a>
<a class="icon ic-users <%= (title.toLowerCase()==="tutoring") ? 'active' : '' %>" href="/tutors"></a>
<a class="icon ic-user" href="/profile"></a>