@import url(./assets.css);

.container {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    overflow: hidden;
    background: var(--bg-color);
}

.container:where(*) {
    font-family: "itr-regular";
    color: var(--txt-color);
}
/*HEADER*/
.container header {
    display: grid;
    grid-template-columns: 1fr min-content;
    place-items: center;
    padding: 10px; gap: 10px;
}
.container header:has(.back){
    grid-template-columns: min-content 1fr min-content;
}
.container header .title{
    font: 32px "itr-semibold";
}
/*MENU*/
.container menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
}

.container menu a {
    background: var(--icon-normal-color);
}

/* .container menu a:hover:not(.active) {
    background: var(--icon-hover-color);
} */

.container menu .active {
    background: var(--icon-active-color);
}

/*SIGN*/
.container main:has(.sign){
    display: grid;
    place-items: center;
}
.container .sign{
    display: flex; flex-direction: column;
    gap: 5px; font-size: 18px;
}
.container .sign .item{
    display: grid; gap: 5px;
}
.container .sign input{
    padding: 10px;
}
.container .sign button{
    background: var(--button-normal-color);
    padding: 10px; color: var(--txt-color);
    font-family:"itr-semibold";
}

/*PROFILE*/
.container main:has(.profile){
    display: grid;
}
.container .profile{
    display: flex; flex-direction: column;
    align-items: center;
    gap: 10px;
}
.container .profile span{
    padding: 10px;
    background: var(--shades);
    color: var(--txt-shades);
    border-radius: 10px;
}
.container .profile p{
    font-size: 24px; font-family:"itr-semibold";
}
.container .profile .icon{
    background: var(--icon-normal-color);
    transform: scale(1.5);
    width: 64px; height: 64px;
}
/*TOGGLE DARK/LIGHT MODE*/
.toggle{ display: grid; }
.toggle .icon{ width: 32px; height: 32px; }
.toggle input{ appearance: none; -webkit-appearance: none; background: var(--txt-color); }