@import url(./assets.css);

.container {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    overflow: hidden;
    background: var(--bg-color);
}

.container:where(*) {
    font-family: "itr-regular";
    color: var(--txt-color);
}

.container header {
    display: grid;
    grid-template-columns: 1fr min-content;
    place-items: center;
    padding: 10px; gap: 10px;
}
.container header .title{
    font: 32px "itr-semibold";
}

.container menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
}

.container menu a {
    background: var(--icon-normal-color);
}

/* .container menu a:hover:not(.active) {
    background: var(--icon-hover-color);
} */

.container menu .active {
    background: var(--icon-active-color);
}

/*toggle*/:root {
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}
.toggle{
    display: grid;
}
.toggle .icon{
    width: 32px; height: 32px;
}
.toggle input{
    appearance: none;
    -webkit-appearance: none;
    background: var(--txt-color);
}