<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Likely School - <%= title %></title>
</head>
<body>
    <div class="container">
        <header>
            <a href="/back" class="icon ic-caret-left"></a>
        </header>
        <main>

        </main>
    </div>
</body>
</html>