<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Likely School - <%= title %></title>
</head>
<body>
    <div class="container">
        <header>

        </header>
        <main>
            <form action="<%= action_destination %>" method="post" class="login-form">
                <input type="text" placeholder="Username" name="username" id="uname">
                <input type="password" placeholder="Password"  name="pswd" id="pws">
                <input type="submit" value="Login">
            </form>
        </main>
    </div>
</body>
</html>